/* Navigation Bar*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;
    padding: 5px;
}

/* Left Items (Anchors) */
.left-item {
    display: inline-block;
    padding-right: 5px;
    padding-top: 5px;
    margin: 0 5px;
    color: black;
    text-decoration: none;
    font-size: 16px;
    opacity: 80%;
}

.left-item:first-of-type {
    margin-left: 18px;
}

/* Right Items (Anchors & Icons) */

.box {
    display: flex;
    width: 100vw;
    justify-content: flex-end;
    align-items: center;
}

.items {
    display: flex;
    padding: 5px;
}

    .items a {
        text-decoration: none;
        color: black;
        align-content: flex-end;
        font-size: 14px;
        padding: 7px;
        align-items: center;
        margin-right: 5px;
        margin-top: 4px;
    }

.icons {
    display: inline-block;
    padding: 5px;
}

.dots {
    width: 30px;
    height: 30px;
    background-image: url(//ssl.gstatic.com/gb/images/i1_1967ca6a.png);
    background-position: -132px -38px;
    opacity: 50%;
    border: none;
    background-color: white;
    margin-right: 12px;
    margin-top: 4px;
}

.sign {
    background-color: blue;
    opacity: 50%;
    margin-right: 15px;
    width: 70px;
    border: none;
    border-radius: 10px;
    color: white;
}

.pug {
    width: 35px;
    height: 35px;

}



/* Logo*/
.logobox {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 200px;
}

.logo {
    align: center;
}

.box-search {
    display: flex;
    justify-content: center;
    padding-top: 25px;
}

/* Search */
.search {
    display: flex;
    align-items: center;
    width: 560px;
    height: 40px;
    border-width: 1px;
    border-color: gray;
    border-radius: 15px;
}

.buttons {
    height: 30px;
    display: flex;
    justify-content: center;
    padding-top: 25px;
}

.submitbutton {
    height: 40px;
    width: 150px;
    border-radius: 10px;
    border-width: 0px;
}

/* Footer */
.footer {
    display: flex;
    flex-direction: row;
    position: absolute;
    justify-content: space-between;
    width: 100vw;
    height: 40px;
    bottom: 0;
    background-color: rgb(243, 241, 241);
    opacity: 100%;
    align-items: center;
}

.foot-box-1 {
    display: flex;
    width: 33vw;

}


.foot-box-3 {
    display: flex;
    width: 33vw;
    justify-content: flex-end;
    margin-right: 15px;
}

.flink {
    padding: 20px;
    font-size: 15px;
    color: rgb(95, 94, 94);
}

.flink:first-of-type {
    margin-left: 15px;
}

